.bg-card-image {
    background-image: url('https://a0.muscache.com/im/pictures/hosting/Hosting-1319332020749542951/original/a2a41dd8-0f5e-434b-b6d7-99d89f6c6487.jpeg?im_w=1200');
    background-size: cover;
    background-position: center;
}
